---
interface Props {
  class?: string,
  display?: "flex"|"block"|"inline"|"inline-block"
}
const { class: className, display } = Astro.props;
---

<div class={`block shadow ${className}`} style={display !== "flex" ? `display: ${display}` : ""}>
  <slot />
</div>